body {
    background: #CCCCCC;
}

p{
   text-align: center;
}


h1 {
 text-align: center;
}

em strong {
    color: #FF0000;
}

#banner { 
 width:100%;
}

.principal{
    background: #b8b6b6;
    padding: 30px;
}

.itens {
    font-style: italic;
}

.benefícios{
    background: #FFFFFF;
    padding:20px;
}

h2 {
    text-align: center;
}

ul{
   display:inline-block;
   vertical-align: top;
    width: 20%
    margin-right: 15%
}

.imagembeneficios {
    width: 50%
}


